* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --type-color: #fefefe;
  --type-color-alt: #fefefe;
}

body {
  position: relative;
  background-color: #fefefe;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #b4ceff;
  background-image: url("/img/background.jpg");
  background-blend-mode: luminosity;
  opacity: 0.4;
  z-index: -1;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}
