.cardSkeleton {
  margin-block: 100px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  min-height: 500px;
  border: 1px solid #333;
  border-radius: 10px;
  background-color: #fafafa;
}

@media screen and (max-width: 650px) {
  .cardSkeleton {
    margin-block: 10px;
  }
}
